
/* div {position: relative; margin-left: 14.1%; margin-top: 12%;} */


#main {display:inline-block; position: relative;}

body {background-image: url('./background.jpg');
    background-repeat: repeat-x repeat-y;
    background-size: 100%;
    width: 98vw;
}
 

#gohome {
    display: none;
}

#pianoKeys {margin-top: 10%;}

#innerButtons {
   padding-left: 10%;
   padding-right: 10%;
}

/*

.clear {  margin-left: 47%}

#clear {
    margin-top: 2px;
} */

#playbuttons {
  
    display:flex;
    /* width: 100%; */
    /* margin-left: 10%; */
    /* margin-left: auto;
    margin-right:auto; */
}

/* #inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
} */

/* #playbuttons button {
    font-size: 1.1em;
margin-left: 20%;
margin-right: 20%;


} */

.slidecontainer {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
}

#clearedit {
  margin-top: -15px;
  width: 80%;
  font-weight: 500;
  /* margin-left: 46.5%; */
}

.slider {width: 50%;
margin-left: 25%;
margin-right: 25%;}

#demo{  width: 100%;
    margin-left: 51%;
    margin-right: 25%; color: black; font-weight: 700; font-size:  1.4em;}


button {
    border-radius:  .4em;
  
}

.natural { opacity: 0.0;}

.sharp {opacity: 0.0; margin-top: 32%; padding: 2px }

.C {height: 34.5vh; margin-right: -.1%; width: 4.1%; position: relative; background-color: white; }
.C:focus{background-color: grey;}
.Csharp {height: 19vh; margin-left: -2.9%; position: absolute; 
    background-color: black;padding-top: 9.2%;position: relative; }
.Csharp:focus{background-color: grey;}
.D {height: 34.5vh; width: 4.1%;margin-left: -2.1%; margin-right: .2%;background-color: white;}
.D:focus{background-color: grey;}
.Dsharp {height: 19vh; margin-left: -2.2%; margin-right: .2%; position: absolute; width: 3%;
    background-color: black;padding-top: 9.2%;position: relative;}
.Dsharp:focus{background-color: grey;}
.E {height: 34.5vh;width: 4.1%; margin-left: -3.2%; background-color: white;}
.E:focus{background-color: grey;}
.F {height: 34.5vh;width: 4.1%; margin-left: -.2%; margin-right: -.6%;background-color: white;}
.F:focus{background-color: grey;}
.Fsharp {height: 19vh;background-color: black;padding-top: 9.2%; margin-right: .8%;margin-left: -2.1%;position: relative;width: 3%;}
.Fsharp:focus{background-color: grey;}
.G {height: 34.5vh; width: 4.1%; margin-left: -3%;background-color: white;}
.G:focus{background-color: grey;}
.Gsharp {height: 19vh;background-color: black;padding-top: 9.2%;margin-left: -1.9%;margin-right: 2.4%; position: relative;width: 3%;}
.Gsharp:focus{background-color: grey;}
.A {height: 34.5vh;width: 4.1%; margin-left: -5.4%; background-color: white;}
.A:focus{background-color: grey;}
.Asharp {height: 19vh;background-color: black;padding-top: 9.2%;margin-left: -1%;position: relative;width: 300%;}
.Asharp:focus{background-color: grey;}
.B {height: 34.5vh; width: 4.1%; margin-left: -3.9%;background-color: white;}
.B:focus{background-color: grey;}

.C2 {height: 34.5vh;width: 4.1%; margin-left: -.3%;position: relative;background-color: white;}
.C2:focus{background-color: grey;}


@media screen and (max-width: 1800px) {

    .nat {
        height: 36vh;
        width: 100%;
        /* padding: 10px; */
    }

    .sh {
        height: 18vh;

        /* padding: 10px; */
    }

    
    div{margin-left: 11px; margin-top: -10px;display: flex; flex-wrap: wrap;}
    button { margin-top: 2%; flex: 21 2%;}
    /* .nat {height: 180px!important; width: 40px!important; padding: 12px;}
    .sh{height: 80px!important; width: 30px!important;} */
    #playbuttons {
        margin-top:10px;
        width: 60%;
        margin-left: 42%;
        
        /* margin-left: auto;
        margin-right:auto; */
    }

    /* #highnote {height: 60px!important;  margin-left: 40%; margin-right: 40%; 
 } */
 
 .hiC { opacity: 0.0; margin-left: 41%; margin-top: -8px;font-size: 1.6em; font-weight: 700;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

 .slidecontainer p{
     /* display: flex; */
     display: block;
     margin-left: 23%;
     width: 50%;
    
 }

}

@media screen and (max-width: 1300px) {

    .nat {
        height: 38vh;
        width: 100%;
        /* padding: 10px; */
    }

    .sh {
        height: 18vh;
        /* padding: 10px; */
    }

    
    div{margin-left: 2px; margin-top: -10px;display: flex; flex-wrap: wrap;}
    button {  flex: 21 4%;}
    /* .nat {height: 180px!important; width: 40px!important; padding: 12px;}
    .sh{height: 80px!important; width: 30px!important;} */
    #playbuttons {
        margin-top:10px;
        width: 60%;
        margin-left: 42%;
        
        /* margin-left: auto;
        margin-right:auto; */
    }

    /* #highnote {height: 60px!important;  margin-left: 40%; margin-right: 40%; 
 } */
 
 .hiC { opacity: 0.0; margin-left: 41%; margin-top: -8px;font-size: 1.6em; font-weight: 700;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

 .slidecontainer p{
     /* display: flex; */
     display: block;
     margin-left: 23%;
     width: 50%;
    
 }
 #innerButtons {
    padding-left: 5%;
    padding-right: 5%;
 }

}

@media screen and (max-width: 1032px) {

    .nat {
        height: 34vh;
        /* padding: 10px; */
        padding: 2px;
    }

    .sh {
        height: 16vh;
        /* padding: 10px; */
        padding-left: 3px;
        
    }

    #innerbuttons button {height: 200px; }

    
    div{margin-left: 10px; margin-top: -10px;display: flex; flex-wrap: wrap;}
    button {  flex: 21 4%;}

    /* .nat {height: 180px!important; width: 40px!important; padding: 12px;}
    .sh{height: 80px!important; width: 30px!important;} */
    #playbuttons {
        margin-top:10px;
        width: 60%;
        margin-left: 42%;
        
        /* margin-left: auto;
        margin-right:auto; */
    }

    /* #highnote {height: 60px!important;  margin-left: 40%; margin-right: 40%; 
 } */
 
 .hiC { opacity: 0.0; margin-left: 41%; margin-top: -8px;font-size: 1.6em; font-weight: 700;  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

 .slidecontainer p{
     /* display: flex; */
     display: block;
     margin-left: 23%;
     width: 50%;
    
 }

}


@media screen and (max-width: 900px) {

    
    
#innerButtons {

    margin-left: -3%;
}
     

    button {  flex: 21 4%;}

    .nat {
        height: 38vh;
      
        /* padding: 10px; */
    }

    .sh {
        height: 18vh;
        /* padding: 10px; */
    }

}

@media screen and (max-width: 875px) {

    button {  flex: 5 1%;}
    
    /* button {  flex: 21 4%;} */

 #innerButtons button {
padding: 1px 1px!important;
 }

    .nat {
        height: 38vh;
      
        /* padding: 10px; */
    }

    .sh {
        height: 18vh;
        /* padding: 10px; */
    }

}

@media screen and (max-width: 700px) {

    /* button {  flex: 21 6%;} */

    div{margin-left: -2px; margin-top: -10px;display: flex; flex-wrap: wrap;}
    button {  flex: 5 10%;}
    

    .nat {height: 180px!important; width: 40px!important; padding: 12px;}
    .sh{height: 80px!important; width: 30px!important;}
    #playbuttons {
        /* margin-top:10px; */
        width: 100%;
        display: none;
     
        /* width: 60%;
        margin-left: 20%; */
        /* margin-left: auto;
        margin-right:auto; */
    }

    #highnote {height: 60px!important;  margin-left: 40%; margin-right: 40%; 
 }
 
 .hiC { opacity: 0.0; margin-left: 41%; font-size: 1.6em; font-weight: 700; margin-top: -20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

 #clearedit {display: none;} 


 .slidecontainer p{
     /* display: flex; */
     display: block;
     margin-left: 23%;
     width: 50%;
    
 }
}

@media screen and (max-width: 400px) { 

    /* div { display: none} */

   div { margin-top: -4%;}

.slidecontainer { margin-bottom: -1%;}

#myRange {margin-top: -5%}


  /*  #gohome {display: block; color: rgb(36, 187, 187)!important; font-size: 3.6em; font-weight: 900;
    
        margin-top: 45%; text-align: center;
        text-shadow: 10px 2px 14px black;

    }*/

    .playbuttons {margin-top: 1%;
        display: block;
margin-right: 4%;
    }

  

#highnote {margin-left: 45%; margin-right: 45%;}

#demo {margin-left: 40%}

}


@media screen and (max-width: 340px) { 

    /* div { display: none} */

   #gohome {display: block; color: rgb(36, 187, 187)!important; font-size: 3.6em; font-weight: 900;
    
        margin-top: 45%; text-align: center;
        text-shadow: 10px 2px 14px black;

    }

 #innerButtons {display: none}

    .playbuttons {
        display:block;
    }

    .slidecontainer {display: none}

}
